*,
*::before,
*::after{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size:16px;
    color: black;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: block;
    background: #e1e1e1;

}
.wrapper_container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    line-height: 30px;
}
.wrapper_content{
    float: right;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 1px;
    background: darkgreen;
}
.wrapper_content_2{
    margin-left:auto;
    margin-right:auto;
    background: darkgreen;
}
.wrapper_content_3{
    background: darkgreen;
}

table,td{
    margin-top: 100px;
    text-align: center;
    align-items: center;
    border-spacing: 0;
    border: 1px solid black;
    border-collapse: separate;
}
td{

    width: 300px;
    height: 0px;
    margin-top: 0;
    padding: 0;
}

.boredr0{
    border: 0px solid  black;
    margin-top: 0;
    padding: 0;

}
.table1{
    background: #ffe5b4;
    margin-top: 0;
    padding: 0;
    border: 0px solid  black;
    width: auto;
    height: 0px;
}