*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: black;
}
.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

/* ШАПКА САЙТА------------------------------- */
.header {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #fff;
	left: 0;
	top: 0;
	z-index: 50;
	background: #5e5373;
}

.header_container {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background: #5e5373;
}
.header_body {
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding: 10px;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.menu_list {
	align-items: center;
	padding: 20px;
	display: flex;
}

.menu_link {
	color: #fff;
	padding: 20px;
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
	.menu_link {
		font-size: 25px;
		font-weight: 700;
	}
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
	.menu_link {
		font-size: 18px;
		font-weight: 700;
	}
}
@media screen and (min-width: 375px) and (max-width: 769px) {
	.menu_link {
		font-size: 14px;
		font-weight: 700;
	}
}
.header_logo {
	color: #fff;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
	.header_logo {
		font-weight: 700;
		font-size: 50px;
	}
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
	.header_logo {
		font-weight: 700;
		font-size: 35px;
	}
}
@media screen and (min-width: 375px) and (max-width: 769px) {
	.header_logo {
		font-size: 20px;
		font-weight: 700;
	}
}
@media screen and (min-width: 133px) and (max-width: 374px) {
	.header_logo {
		font-size: 14px;
		font-weight: 700;
	}
}

/*Content________________________________*/
.content {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	overflow: hidden;
}
.content_container {
	width: 100%;
	position: absolute !important;
	background: #fff;
	margin-top: 30%;
	align-items: center;
	justify-content: center;
	z-index: 50;
	opacity: 0.7;
	color: black;
}
.content_block {
	text-align: center;
	width: 100%;
	margin-bottom: 90px;
	padding-top: 80px;
	color: black;
	font-size: 50px;
	align-items: center;
	height: 100%;
}

/* ПОДВАЛ--------------------- */

.footer{
	background: #292942;
	position: relative;
   margin-top: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #fff;
	left: 0;
	top: 0;
	z-index: 50;
}
.footer_block_row{
   display: grid;
   grid-template-columns: repeat(1, 1fr 1fr 1fr);
   column-gap: normal;
   text-align: center;
   justify-items:center;
   padding: 20px;
}